#imageProfil{
    position: relative;
    max-height: 400px;
}

#editFotoButton{
    position: absolute;
    top: 10px;
    left: 25px;
    opacity: .3;
    transition: all .3s linear;
}
#editFotoButton:hover{
    opacity: 1;
}

.btn-tambah{
    margin-bottom: 15px;
}

.foto-produk{
    height : 300px !important;
    width: 400px !important;
}

#footer{
    margin-top: 50px;
}