<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body class="body" style='background-image: url("https://3.bp.blogspot.com/-FiVOqlsRkQY/VU1oG-9MYBI/AAAAAAAAI2Y/ABaYqw0N1zU/s1600/gambar+abstrak+(8).jpg")'>
	<div class="container">
		<div class="row" style="padding-top: 200px">
			<div class="panel panel-default col-md-6 col-md-offset-3" >
			  <div class="panel-heading" style='background: yellow'>
			    <h3 class="panel-title" >Form Login</h3>
			  </div>
			  <div class="panel-body">
			   <form class="form-horizontal" id="formlogin" action="#" method="POST">
				  <div class="form-group">
				    <label for="inputUsername" class="col-md-2 control-label">Username</label>
				    <div class="col-md-10">
				      <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" minlength="2">
							<div class="error-box" id="UsernameError"></div>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword" class="col-md-2 control-label">Password</label>
				    <div class="col-md-10">
				      <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" maxlength="6">
							<div class="error-box" id="PasswordError"></div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-md-10">
				      <button type="submit" class="btn btn-success" id="Login"><i class="fa fa-user-o"></i>Login</button>

				      
		             <div class = "checkbox">
		                <label><input type = "checkbox"> Remember me</label>

		             </div>
		          </div>
		       </div>
		       
		   
		       
				  
				    </div>
				  </div>
				</form>
			  </div>
			</div>
			
		</div>
	</div>
	
</body>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="assets/js/myjs.js"></script>
	
</html>